.table {
  width: 90vw;
  max-height: 1024px;
}

.table,
.table th,
.table td {
  border-bottom: 1px solid #515151;
  border-collapse: collapse;

  color: #e7e7e7;
  text-align: left;
}

.table th,
.table td {
  padding: 20px;
  vertical-align: center;
}

.arrow_down {
  cursor: pointer;
}

.table_header {
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  width: 100%;
  padding: 10px;
  margin-top: 16px;

  border-top: 1px solid #515151;
  border-bottom: 1px solid #515151;

  & > p {
    cursor: pointer;
  }
}

.selected_page {
  color: #5dda7c;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: flex-start;

  width: fit-content;
  margin-top: 16px;
}

.table_filter_title {
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.prevent_select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.table_filter {
  width: 100%;
  margin-top: 16px;

  & input {
    width: 100%;
    padding: 8px;
    margin: 4px 0;

    border: none;
    border-radius: 4px;
    background-color: #282828;

    outline: none;
    color: #f2f2f2;
  }

  & .publisher_isbn_row,
  & .publisher_isbn_row > div,
  & .publisher_isbn_row input {
    width: 100%;
  }

  & .publisher_isbn_row {
    gap: 8px;
  }
}
