.drawer_container {
  height: 100%;
  width: 270px;

  position: fixed;
  z-index: 10;

  background-color: #282828;
  color: #f2f2f2;
  box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.2);

  & a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 15px 25%;
  }

  & > .drawer_container_close_button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 20px;
    margin-top: 20px;
    cursor: pointer;

    & > p {
      padding: 5px;
    }
  }

  & > .drawer_container_title {
    width: 100%;
    margin-top: 30px;

    & img {
      width: 25px;
      height: 25px;
    }
  }
}

.menu_list {
  cursor: pointer;
  margin-top: 30px;

  &:not(:first-child) {
    margin-top: 40px;
  }

  & > li {
    text-align: left;
    min-width: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > a {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    & > a > img {
      width: 20px;
      height: 20px;
    }
  }

  & > li:hover {
    background-color: #1b1b1b;
  }
}

.isActive {
  background-color: #1b1b1b;
}

.drawer_closed {
  width: fit-content;

  & > .drawer_container_title {
    width: 100%;

    & > h1 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & img {
      width: 20px;
      height: 20px;
    }
  }

  & > nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    & > li {
      min-width: 100%;
      padding: 10px 0;

      & > a {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
